Node-Red/config
[{"id":"963b8402.e0444","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"d011e5aa.7831e","type":"mqtt in","name":"Temperature","topic":"15/temperature/raw","broker":"963b8402.e0444","x":277.5,"y":141.75,"z":"28661ac3.b1d066","wires":[["bde9cdc6.68454","4f436025.963218"]]},{"id":"4f436025.963218","type":"mqtt out","name":"Processed temp","topic":"15/temperature","qos":"0","retain":"true","broker":"963b8402.e0444","x":783.5,"y":254.75,"z":"28661ac3.b1d066","wires":[]},{"id":"bde9cdc6.68454","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":630.5,"y":123.75,"z":"28661ac3.b1d066","wires":[]},{"id":"710d6bbd.eb9d74","type":"mqtt in","name":"Humidity","topic":"15/humidity/raw","broker":"963b8402.e0444","x":301.5,"y":246.75,"z":"28661ac3.b1d066","wires":[["6a80e3e8.fe77f4","bde9cdc6.68454"]]},{"id":"6a80e3e8.fe77f4","type":"mqtt out","name":"Processed hum","topic":"15/humidity","qos":"0","retain":"true","broker":"963b8402.e0444","x":782.5,"y":349.75,"z":"28661ac3.b1d066","wires":[]},{"id":"4b422182.f7dde","type":"mqtt out","name":"Processed flame","topic":"15/flame","qos":"0","retain":"true","broker":"963b8402.e0444","x":780.5,"y":453.75,"z":"28661ac3.b1d066","wires":[]},{"id":"de739771.e6c12","type":"mqtt in","name":"Flame","topic":"15/flame/raw","broker":"963b8402.e0444","x":286.5,"y":339.75,"z":"28661ac3.b1d066","wires":[["4b422182.f7dde","bde9cdc6.68454"]]}]